.education .card-title {
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
}

.education-header {    
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}