.work-history-header {    
    font-size: 34px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

.work-history-accordion-header .accordion-button {
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;

}

.work-history-accordion-header .accordion-header-company {
    font-size: 20px;
}

.work-history-accordion-header .accordion-header-date {
    font-size: 16px;
    margin-left: 10px;
}