.navigation-bar {
    min-height: 80px;
}

.navigation-bar .navbar-brand {
    font-size: 30px;
}

.navigation-bar .nav-link {
    margin-top: 5px;    
    font-size: 26px;
    font-family: 'Rajdhani', sans-serif;
}